* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #fcbe24;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#header {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.container {
  width: 88vw;
  padding: 1vw;
  border: 1px solid #fcbe24;
  margin: auto;
}

p {
  display: block;
  margin: 2vw 6vw;
}
